{
  "presets": [
    "@babel/preset-env",
   ["@babel/preset-react", {"runtime": "automatic"}]
],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "html", "go", "bash", "rust", "sql"],
        "plugins": ["line-numbers", "show-language"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}